body {
      background-color: lightblue;
      font-size: 125%;
    }
    
.myClass {
      background-color: yellow;
      color: blue
    }
    
.class1 {
  text-align:center;
  color:red;
  background-color:yellow;
  font-size:50px
  }
  
#classy2 {
  color:blue;
  font-size:65px;
}